/* QuentinGeorge/katbiznis
/
/  /src/sass/styles.scss - Main styles
/  coded by Quentin
/  started at 09/02/2017
*/

html {
    background: yellow;

    body {
        display: flex;
        color: red;
    }
}
