/* QuentinGeorge/katbiznis
/
/  /src/sass/styles.scss - Main styles
/  coded by Quentin
/  started at 09/02/2017
*/

// Generic: Reset styles, normalize, ...
@import "generic/meyer-reset";

h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 3em;
}

body {
    margin: 0 5%;
}

.container {
    display: block;
    margin: 0 auto;
}

.front {
    background: url( "../images/card-bcg.jpg" ) center;
    background-size: cover;
    color: #fff;
    font-size: 2.5em;
    position: relative;
}

.front ul {
    position: absolute;
    bottom: 0;
    right: 0;
}

.front li {
    display: inline-block;
    margin: 0.25em;
}

.back {
    background: url( "../images/main-bcg.png" ) center;
    display: flex;
}

.back ul {
    display: flex;
    flex-direction: column;
}

.back li {
    display: flex;
    flex: auto;
    align-items: center;
}

.front, .back {
    max-width: 720px;
    height: 280px;
    margin: 50px auto;
    box-shadow: 5px 5px 5px #aaa;
}

ul {
    padding: 20px;
}

.flip-icon {
    display: none;
}

@media( min-width: 720px ) {
    html {
        font-size: 2em;
    }

    body {
        perspective: 1000;
    }

    .container {
        position: relative;
        max-width: 1024px;
        width: 100%;
        height: 576px;
        transform-style: preserve-3d;
        transition: all 1.0s linear;
    }

    .front, .back {
        max-width: 1024px;
        width: 100%;
        height: 576px;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
    }

    .front {
        z-index: 1;
    }

    .back {
        transform: rotateY(180deg);
    }

    .flip-icon {
        display: block;
        position: absolute;
        top: 70px;
        z-index: 2;
        background-color: #ddd;
        padding: 10px;
        border-radius: 20px;
    }

    .flip-front {
        right: 20px;
    }

    .flip-back {
        left: 20px;
        transform: rotateY(180deg);
    }

    .flip {
        transform: rotateY(180deg);
    }
}
