doctype html
html( lang="fr" )
    head
        meta( charset="utf-8" )/

        title Ma super carte de visite
        link( rel="stylesheet", href="assets/css/styles.css" )/

    body
        h1 Ma super carte de visite
        div( class="container" )
            img( class="flip-icon flip-front" src="assets/images/flip-icon.svg" alt="Flip icon" title="Flip" width="50px" height="50px" )
            div( class="front" )
                ul
                    li Quentin
                    li George

            img( class="flip-icon flip-back" src="assets/images/flip-icon.svg" alt="Flip icon" title="Flip" width="50px" height="50px" )
            div( class="back" )
                ul
                    li Quentin
                    li George
                    li quentingeorge7@gmail.com
                    li 04 358 44 77
                    li https://github.com/QuentinGeorge

        script( src="assets/js/script.js" )
